/* universal style */

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";    
}

button {
    padding: 4px;
    cursor: pointer;
}

/* icon */


#container {
    display: grid;
    height: 100vh;
    grid-template-rows: minmax(20px, 50px) 1fr minmax(20px, 50px);
    color: white;
    background-color: black;
}

#header {
    /* set display */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* custom style */
    padding: 12px;
    background-color: rgb(135, 24, 209);
}

.right-header {
    display: flex;
    gap: 6px;
}

#content {
    /* display */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid green;

    /* custom style */    
}

#inputContent {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    width: max-content;
    padding: 10px;
    border-radius: 20px;
}

#inputContent input, #inputContent button {
    border: none;
    padding: 4px;    
    background-color: #f6f6f6;
}

#inputContent input {
    width: 300px;
    color: #333333;
    outline: none;
    background: transparent;
    flex: 1;
}


#footer {
    /* display set*/
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* custom style */
    border: 2px solid blue;
}