/* universal style */

* {
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    height: 100vh;
    grid-template-rows: 80px 1fr 50px;
}

#header {
    border: 2px solid red;
}

#content {
    border: 2px solid green;
}

#footer {
    /* display set*/
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid blue;
}